@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

h1{
  font-family: 'Poppins',sans-serif;
  text-align: center;
}

body{
  background: linear-gradient(to right,#3f5efb,#fc466b);
}

#calculator{
  width: 320px;
  height: 520px;
  background-color: #eaedef;
  margin: 0% auto;
  margin-top: 150;
  position: relative;
  border-radius: 10px;
  box-shadow: rgb(255, 255, 255);
  box-shadow: 0 8px 32px 0 rgba(31,38,135,.37);
}

#Result{
  height: 120px;
}

#Keyboard{
  height: 400px;
}
.operator, .number, .empty {
  width: 50px;
  height: 50px;
  margin: 15px;
  float: left;
  border-radius: 50%;
  border-width: 0;
}

.number, .empty{
  background-color: #eaedef;
}

.operator{
  background-color: rgb(218, 214, 214);
}

.number, .operator{
  cursor: pointer;
}

.operator:active, .number:active{
  font-size: 13px;
}

.operator:focus, .number:focus, .empty:focus{
  outline: 0;
}

button:nth-child(4){
  font-size: 20px;
  background-color: rgb(75, 170, 173);
}

button:nth-child(8){
  font-size: 20px;
  background-color: rgb(183, 223, 73);
}

button:nth-child(12){
  font-size: 20px;
  background-color: rgb(226, 176, 83);
}

button:nth-child(16){
  font-size: 20px;
  background-color: rgb(221, 86, 62);
}

button:nth-child(20){
  font-size: 20px;
  background-color: rgb(122, 91, 224);
}
#History{
  text-align: right;
  height: 20px;
  margin: 0 20px;
  padding-top: 20px;
  font-size: 15px;
  color: #919191;
}

#Output{
  text-align: right;
  height: 60px;
  margin: 10px 20px;
  font-size: 30px;
}